.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px 1rem;
  margin-top: 2rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 0px 2rem;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 1.5px solid;
  border-color: #1a1a1a;
  border-radius: 20px;
  padding: 3rem;
  box-shadow: -1em 1em 0.4em #3a3a3a;
}
